*{
	font-family: sans-serif;
	letter-spacing: 1px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 28px;
	margin: 0px;
}

@keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-moz-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-webkit-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

.snowing{ /*http://cssdeck.com/labs/css3-snow*/
	-webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

body{
	background: rgba(197,198,222,1);
	background: -moz-linear-gradient(top, rgba(197,198,222,1) 0%, rgba(234,240,254,1) 66%, rgba(234,240,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197,198,222,1)), color-stop(66%, rgba(234,240,254,1)), color-stop(100%, rgba(234,240,254,1)));
	background: -webkit-linear-gradient(top, rgba(197,198,222,1) 0%, rgba(234,240,254,1) 66%, rgba(234,240,254,1) 100%);
	background: -o-linear-gradient(top, rgba(197,198,222,1) 0%, rgba(234,240,254,1) 66%, rgba(234,240,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(197,198,222,1) 0%, rgba(234,240,254,1) 66%, rgba(234,240,254,1) 100%);
	background: linear-gradient(to bottom, rgba(197,198,222,1) 0%, rgba(234,240,254,1) 66%, rgba(234,240,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c6de', endColorstr='#eaf0fe', GradientType=0 );
}
h1{
	text-align: center;
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
	padding: 20px;
}
#numberWords{
	width: 50px;
	outline: none;
	background-color: rgba(197,198,222,1);
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border:1px solid black;
}
#numberWords:focus{
	border: 1px solid #a110d0;
	box-shadow: 0 0 5px #a110d0;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}
:-ms-input-placeholder {  
   color: #000;  
}
#lorem-forem form{
	border:1px solid black;
	padding: 20px;
	width: 70%;
	margin-left: 15%;
}
#lorem-submitum{
	color: #fff;
	width: 150px;
	height: 105px;
	text-align: center;
	line-height: 40px;
	padding-top: 40px;
	font-size: 34px;
	text-transform: uppercase;
	margin: 0px auto;
	float: right;
	font-family: 'Rock Salt', cursive;
	background-image: url('../imgs/purplecat.png');
	position: absolute;
	z-index: 2;
	display: none;
}
#lorem-submitum:hover{
	cursor: pointer;
	background-image: url('../imgs/rainbowcat.png');
	color: black;
}
#lorem-result{
	width: 80%;
	min-height: 250px;
	background-color: #000;
	color: rgba(197,198,222,1);
	padding: 20px;
	margin: 0px;
	margin-left: 10%;
}
.gify-container{
	width: 800px;
	height: 300px;
	margin: 0px auto;
	margin-top: 30px;
	display: block;
}
.gify{
	width: 200px;
	margin: 0px auto;
	float: left;
}
.hashie{
	color: #a110d0;
}