*{
	font-family: sans-serif;
	letter-spacing: 1px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

@keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-moz-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-webkit-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

.snowing{ /*http://cssdeck.com/labs/css3-snow*/
	-webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

h1{
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	margin: 15px 0px 25px 0px;
}
h3{
	font-weight: '400';
	text-transform: uppercase;
	font-size: 18px;
}
#numberWords{
	width: 50px;
	outline: none;
	background-color: #a9add1;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 1px solid black;
  font-size: 13px;
  padding-left: 5px;
}
#numberWords:focus{
	border: 1px solid #5b5989;
	box-shadow: 0 0 5px #5b5989;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}
:-ms-input-placeholder {  
   color: #000;  
}
#lorem-forem form{
	border: 1px solid black;
	border-top: none;
	padding: 0% 10%;
	width: 60%;
	margin-left: 10%;
	overflow: auto;
	padding-bottom: 20px;
}
.form-text{
	//text-transform: uppercase;
	background: #a9add1;
	padding: 0% 8%;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
}
.hidden{
	display: none;
}
.album-title{
	background: #000;
	color: rgba(197,198,222,1);
	padding: 4px 10px;
	display: block;
	width: 100%;
	font-size: 13px;
	text-transform: uppercase;
}
.album-title:hover{
	cursor: pointer;
	background: #5b5989;
}
:checked + span {
  background: #5b5989;
}
#lorem-submitum{
	width: 96%;
	background-color: #000;
	color: rgba(197,198,222,1);
	text-align: center;
	padding: 2%;
	text-transform: uppercase;
}
#lorem-submitum:hover{
	cursor: pointer;
	background-color: #5b5989;
}
#lorem-result{
	width: 70%;
	background-color: #000;
	color: rgba(197,198,222,1);
	padding: 5%;
	margin: 0% 10%;
	border: 1px solid black;
	display: none;
	height: 0px;
	//min-height: 200px;
}
.gify-container{
	width: 800px;
	height: 300px;
	margin: 0px auto;
	display: none;
}
.gify{
	width: 200px;
	margin: 0px auto;
	float: left;
}
.hashie{
	color: #5b5989;
}
.api-credits{
	width: 505px;
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}
.tumblr{
	font-size: 12px;
	line-height: 12px;
}
ul.logos{
	width: 175px;
	height: 10px;
	margin: 0px auto;
	margin-top: 10px;
}
.logos li{
	padding: 0px;
	float: left;
	font-size: 12px;
}
.errorMessage{
	position: fixed;
	background-color: red;
	display: none;
	font-size: 20px;
	padding: 10px;
	width: 100%;
	text-align: center;
	z-index: 4;
}
.xmashat{
	position: absolute;
	z-index: 2;
	width: 40px;
	margin: -20px 0px 0px -20px;
}
.albumCheckBoxes{
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.form-left{
	width: 45%;
	float: right;
}
.form-right{
	width: 45%;
}
#christmasAlbum .album-title:hover{
	background-color: red;
}
#outputWords{
	//opacity: 0;
}
.loading{
	color: red;
	font-size: 20px;
	position: absolute;
	z-index: 2;
	margin: 0px auto;
}